body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border: solid 2px #000000;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  border: solid black;
  cursor: pointer;
  margin-top: 20px;
  
  text-align: center;
  background-color: rgb(165, 204, 255);
  opacity: 50%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 38px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: 50px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(82, 163, 229, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 20px;
  padding-top: 10px;
  align-items: center;
}

/* Container for image text */
.caption-container {
  border-top: 2px solid black;
  text-align: center;
  background-color:rgb(165, 204, 255);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 11.11%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
