body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border: solid 2px #000000;
  box-shadow: 2px 2px 20px 5px rgba(0, 30, 91, 0.927);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  border: solid black;
  cursor: pointer;
  margin-top: 20px;
  
  text-align: center;
  background-color: rgb(165, 204, 255);
  opacity: 50%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 38px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: 50px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(82, 163, 229, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 20px;
  padding-top: 10px;
  align-items: center;
}

/* Container for image text */
.caption-container {
  border-top: 2px solid black;
  text-align: center;
  background-color:rgb(165, 204, 255);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 11.11%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #2f6dd7;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 17px;
  left: 40%;
  width: 280px;
  border-radius: 20px;
}

/* The popup form - hidden by default */
.form-background {
  display: none;
  position: fixed;

  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0,0,0,.5);

}

.form-popup {
  position: fixed;
  right: 40%;
  bottom: 40%;
  z-index: 0;

}

/* Add styles to the form container */
.form-container {
  text-align: center;
  max-width: 400px;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #2f6dd7;
  
  
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(0, 47, 233);
  border-radius: 20px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}